* {
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    margin: auto;
    text-align: center;
    align-content: center;
    align-items: center;
    
}
.geral {
    position: relative;
    display: flex;
    font-size: 1em;
    text-align: center;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 5px solid #b1b1b1;
    max-width: 100%;
    word-break: break-all;
}
@media only screen and (max-width: 959px) {
    .geral{
        font-size: 0.8em;
        display: block;
        text-align: justify;
    }
    .container{
        width: 100%;
    }
    .order{
        clear: both;
    }
    
    

}
.data {
    text-align: center;
    margin: 10px;
}
.geral h2 {
    padding: 5px;
    margin-left: 5%;
}
.erros{
    color: red;
}
.integrados{
    color: green;
}
.total {
    color: blue;
}
.erro_id{
    float: right;
    margin-right: 10px;
    max-width: 260px;
    min-width: 260px;
}
.taxvat{
    float: left;
    margin-right: 10px;
}


.listErros ul{
    list-style: none;
    font-size: 18px;
}
.link{
    text-decoration: none;
    color: black;
}
.link:hover{
    color:red;
}
.listErros ul li:hover{
    background-color: black;
}
.listErros ul li{
    text-align: center;
    padding: 5px;
    padding-left: 5%;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #d1d1d1;
}
a {
    display: block;
}
.imagem {
    margin: 0 auto;
    padding-top: 25%;
    position: absolute;
}
